header{
  position: absolute;
  width: 100%;
  height: 25%;
  top: 0%;
  left: 0%;
  background: #FFE373;
}

.links_menu {
  text-decoration: none;
  color: black;
}

.recheio{
  margin-left: auto;
  margin-right: auto;
  margin-top: 18%;
  margin-bottom: 5%;
  width: 85%;
  text-align: center;
  font-family: Comic Sans MS;
  padding-bottom: 2%;
  
}

.titulo{
  font-family: Comic Sans MS;
  font-style: normal;
  font-weight: normal;
  font-size: 295%;
  line-height: 98%;
  text-align: center;
}

.menu{
  font-family: Comic Sans MS;
  font-size: 100%;
  position: absolute;
  width: 100%;
  top: 100%;
  text-align: center;
  line-height: 350%;
  background: #E9E23F;
}

.aviso_login{
  position: absolute;
  left: 1%;
  top: 1%;
  font-family: Comic Sans MS;
  font-style: normal;
  font-weight: normal;
  font-size: 90%;
  line-height: 150%;
  text-align: left;
  color: #000000;
}

.pesquisa{
  position: absolute;
  width: 12%;
  height: 50%;
  left: 70%;
  top: 25%;
  border-style: none;
  outline: none;
  background: #FFFFFF;
  /**lupa**/
  background-image: url('../img/icon.png');
  background-position: 97% 0%;
  padding-left: 1%;
  padding-right: 2%;
  background-repeat: no-repeat;
  background-size: 15% 100%;
  font-family: Comic Sans MS;
  font-size: 90%;
}

footer{
  position: fixed;
  width: 100%;
  line-height: 350%;
  left: 0%;
  bottom: 0%;
  text-align: center;
  background: #FFE373;
  font-family: Comic Sans MS;
  font-size: 100%;
}

.imagem_inicio{
  padding-top: 2.5%;
  width: 20%;
  height: 10%;
}

#fininho{
  position: absolute;
  width: 44.2188%;
  height: 100%;
  left: 0%;
  top: 0%;
  text-align: center;
  background-color: #E9E23F;
}

#fenomeno{
  position: absolute;
  width: 55.7813%;
  height: 100%;
  right: 0%;
  top: 0%;
  background-image: linear-gradient( rgb(247, 247, 88),white);
  text-align: center;
}

.campo_form{
  position: relative;
  font-family: Comic Sans MS ;
  font-style: normal;
  font-weight: normal;
  font-size: 60%;
  width: 40%;
  line-height: 140%;
}

#titulo{
  position: absolute;
  width: 50%;
  left: 22%;
  top: 30%;
  font-family: Comic Sans MS;
  font-style: normal;
  font-weight: normal;
  font-size: 400%;
  line-height: 200%;
  text-align: center;
  color: #000000;
}

.form{
  position: relative;
  left: 0%;
  top: 22%;
  font-family: Comic Sans MS;
  font-size: 240%;
}

.botao{
  border:none;
  margin:5px;
  display:inline-block;
  position: relative;
  font-family: Comic Sans MS;
  font-size: 70%;
  padding: 0.5% 2.5%;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:lightgray;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}

#form_cadastro{
  position: relative;
  align-items: center;
  font-family: Comic Sans MS;
}

.label_cadastro{
  position: absolute;
  right: 65%;
  font-size: 120%;
}

.botao_cadastro{
  border:none;
  display:inline-block;
  position: relative;
  font-family: Comic Sans MS;
  padding: 0.5% 4.3%;
  font-size: 120%;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:lightgray;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}

.campo_cadastro{
  position: relative;
  font-family: Comic Sans MS ;
  font-style: normal;
  font-weight: normal;
  font-size: 120%;
  width: 25%;
  line-height: 140%;
}

#campo_cartao{
  position: relative;
  font-family: Comic Sans MS ;
  font-style: normal;
  font-weight: normal;
  font-size: 120%;
  width: 50%;
  line-height: 140%;
}

.campo_produtos{
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 25%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}